@media screen and (min-width: 640px) {
  header,
  nav,
  main,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navigation li {
    margin-left: 1rem;
  }

  .navigation li a {
    padding: 1rem;
  }

  .course-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
  }
}
